<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Receive from-->
		<add key="RX_IP_ADDR" value="127.0.0.1"/>
		<add key="RX_IP_PORT" value="8989"/>

		<!--Send to-->
		<add key="TX_IP_ADDR" value="224.1.2.100"/>
		<add key="TX_IP_PORT" value="8989"/>
		
		
	</appSettings>
</configuration>